* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

#wr_nav1 {
  width: 100%;
  height: 40px;
  background-color: #333333; }
  #wr_nav1 .wr_nav1_ul1, #wr_nav1 .wr_nav1_ul2 {
    margin-left: 20px;
    float: left; }
    #wr_nav1 .wr_nav1_ul1 li, #wr_nav1 .wr_nav1_ul2 li {
      float: left;
      line-height: 40px; }
      #wr_nav1 .wr_nav1_ul1 li a, #wr_nav1 .wr_nav1_ul2 li a {
        color: #B0B0B0;
        border-right: 1px solid #3B4040;
        padding: 0px 8px;
        font-size: 12px; }
      #wr_nav1 .wr_nav1_ul1 li a:hover, #wr_nav1 .wr_nav1_ul2 li a:hover {
        color: #fff; }
    #wr_nav1 .wr_nav1_ul1 li:nth-of-type(11) a, #wr_nav1 .wr_nav1_ul2 li:nth-of-type(11) a {
      border: 0px; }
  #wr_nav1 .wr_nav1_ul2 {
    margin-right: 20px;
    float: right; }
    #wr_nav1 .wr_nav1_ul2 li:nth-of-type(3) a {
      border: 0px; }
    #wr_nav1 .wr_nav1_ul2 li:nth-of-type(4) a {
      display: inline-block;
      width: 120px;
      height: 38px;
      background-color: #424242;
      text-align: center;
      border: 0px; }
    #wr_nav1 .wr_nav1_ul2 li:nth-of-type(4) a:hover {
      color: #ff6700; }

#wr_nav2 {
  height: 100px;
  width: 100%;
  text-align: center;
  position: relative; }
  #wr_nav2 .logo {
    position: absolute;
    left: 20px;
    margin-left: 20px;
    background: url(../../images/logo.png) no-repeat;
    display: inline-block;
    width: 55px;
    height: 55px;
    top: 20px; }
  #wr_nav2 .wr_nav2_ul {
    position: absolute;
    left: 200px; }
    #wr_nav2 .wr_nav2_ul li {
      line-height: 100px;
      display: block;
      float: left; }
      #wr_nav2 .wr_nav2_ul li a {
        font-size: 16px;
        padding: 12px 0 0 30px;
        color: #333; }
      #wr_nav2 .wr_nav2_ul li a:hover {
        color: #ff6700; }
      #wr_nav2 .wr_nav2_ul li #wr_nav2_goods {
        text-align: center;
        position: absolute;
        top: 91px;
        left: -180px;
        display: none;
        width: 1226px;
        height: 288px;
        z-index: 50;
        background: #fff; }
        #wr_nav2 .wr_nav2_ul li #wr_nav2_goods li {
          float: left;
          background: #fff; }
          #wr_nav2 .wr_nav2_ul li #wr_nav2_goods li img {
            width: 120px;
            height: 124px; }
          #wr_nav2 .wr_nav2_ul li #wr_nav2_goods li a {
            display: block;
            padding: 0;
            margin-top: -39px; }
          #wr_nav2 .wr_nav2_ul li #wr_nav2_goods li span {
            display: block;
            margin: -54px; }
  #wr_nav2 .wr_seach {
    width: 296px;
    border: 1px solid #E0E0E0;
    position: absolute;
    right: 20px;
    top: 25px; }
    #wr_nav2 .wr_seach form {
      overflow: hidden; }
      #wr_nav2 .wr_seach form input {
        height: 50px;
        float: left;
        outline: none;
        border: none; }
      #wr_nav2 .wr_seach form input:nth-of-type(1) {
        margin-left: 10px;
        width: 240px;
        border-right: 1px solid #E0E0E0; }
      #wr_nav2 .wr_seach form i {
        font-size: 20px;
        line-height: 50px;
        text-align: center; }
    #wr_nav2 .wr_seach .defalutKey {
      position: absolute;
      top: 12px;
      left: 0; }
      #wr_nav2 .wr_seach .defalutKey a {
        color: #757575;
        background: #EEEEEE;
        font-size: 12px; }
      #wr_nav2 .wr_seach .defalutKey a:nth-of-type(1) {
        margin-left: 50px; }
      #wr_nav2 .wr_seach .defalutKey a:hover {
        background: #ff6700;
        color: #fff; }
    #wr_nav2 .wr_seach .keyWorld {
      position: absolute;
      left: 0;
      top: 50;
      z-index: 10;
      display: none; }
      #wr_nav2 .wr_seach .keyWorld ul {
        border: 1px solid #FF6700;
        width: 248px;
        background: #fff; }
        #wr_nav2 .wr_seach .keyWorld ul li {
          position: relative;
          text-align: left;
          height: 30px; }
          #wr_nav2 .wr_seach .keyWorld ul li a {
            padding: 0px 15px;
            font-size: 12px;
            color: #424242; }
          #wr_nav2 .wr_seach .keyWorld ul li span {
            position: absolute;
            right: 10px;
            font-size: 12px;
            color: #b0b0b0; }

#wr_play {
  margin-left: 20px;
  width: 100%;
  height: 460px;
  overflow: hidden;
  position: relative;
  top: -9px; }
  #wr_play ol {
    position: absolute;
    right: 5%;
    bottom: 5px;
    z-index: 20; }
    #wr_play ol li {
      float: left;
      margin-right: 3px;
      display: inline-block;
      cursor: pointer;
      background: #666;
      border: 2px solid #757575;
      padding: 2px;
      color: #757575;
      border-radius: 100%;
      width: 3px;
      height: 3px; }
    #wr_play ol .active {
      padding: 3px;
      font-weight: bold;
      color: #ffffff;
      background: #fff;
      position: relative;
      bottom: 2px; }
  #wr_play .imgList {
    height: 460px;
    width: 1226px;
    z-index: 10;
    display: block; }
    #wr_play .imgList li {
      position: absolute; }
      #wr_play .imgList li a img {
        width: 100%;
        height: 460px; }
    #wr_play .imgList .imgOn {
      display: block; }
  #wr_play .prive, #wr_play .next {
    position: absolute;
    width: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #EFEFEF;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0); }
  #wr_play .prive {
    top: 50%;
    left: 270px; }
  #wr_play .prive:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  #wr_play .next:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  #wr_play .prive strong, #wr_play .next strong {
    color: #EFEFEF;
    font-size: 25px; }
  #wr_play .next {
    top: 50%;
    right: 53px; }

#wr_sideNav {
  position: absolute;
  top: 131px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  width: 244px;
  height: 460px;
  z-index: 10; }

#wr_sideNav .sideNav_good {
  width: 244px;
  height: 460px;
  position: absolute;
  left: 0px;
  top: 0px; }

#wr_sideNav .sideNav_good li {
  width: 244px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  display: block; }

#wr_sideNav .sideNav_good li:nth-of-type(1) {
  margin-top: 20px; }

#wr_sideNav .sideNav_good li a {
  width: 224px;
  height: 42px;
  margin-left: 15px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  text-align: left; }

#wr_sideNav .sideNav_good li span {
  color: #9B9B90;
  position: absolute;
  font-size: 16px;
  right: 10px; }

#wr_sideNav .sideNav_good li:hover {
  background: #FF6700; }

#wr_sideNav .sideNav_good li .sideNav_hideGoods {
  width: 373px;
  height: 460px;
  position: absolute;
  left: 244px;
  top: 0px;
  background-color: white;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
  #wr_sideNav .sideNav_good li .sideNav_hideGoods li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px; }
    #wr_sideNav .sideNav_good li .sideNav_hideGoods li img {
      width: 60px;
      height: 70px; }
    #wr_sideNav .sideNav_good li .sideNav_hideGoods li a {
      color: #333;
      display: block;
      padding: 18px 20px;
      padding-right: 20px;
      line-height: 40px; }
    #wr_sideNav .sideNav_good li .sideNav_hideGoods li span {
      width: 100px;
      display: inline-block;
      font-size: 10px; }

#wr_sideNav_below {
  width: 100%;
  height: 140px;
  margin-top: 10px; }
  #wr_sideNav_below .List .li1 {
    margin-left: 20px;
    background: #5f5750;
    line-height: 40px;
    height: 165px;
    width: 234px;
    overflow: hidden;
    text-align: center; }
    #wr_sideNav_below .List .li1 a {
      width: 70px;
      margin-left: 5px;
      height: 75px;
      font-size: 14px;
      display: inline-block;
      float: left;
      color: #DAD8D6;
      border-right: 1px solid #665E57;
      border-bottom: 1px solid #665E57; }
      #wr_sideNav_below .List .li1 a i {
        font-size: 20px;
        display: block;
        color: #DAD8D6; }
    #wr_sideNav_below .List .li1 a:nth-of-type(4) {
      border-bottom: 0px; }
    #wr_sideNav_below .List .li1 a:nth-of-type(5) {
      border-bottom: 0px; }
    #wr_sideNav_below .List .li1 a:nth-of-type(6) {
      border-bottom: 0px;
      border-right: 0px; }
    #wr_sideNav_below .List .li1 a:nth-of-type(3) {
      border-right: 0px; }
    #wr_sideNav_below .List .li1 a:hover {
      opacity: 0.6; }
  #wr_sideNav_below .List li {
    width: 316px;
    height: 170px;
    float: left;
    padding: 6px; }
    #wr_sideNav_below .List li a img {
      width: 316px;
      height: 170px; }
  #wr_sideNav_below .List li:nth-of-type(2):hover, #wr_sideNav_below .List li:nth-of-type(3):hover, #wr_sideNav_below .List li:nth-of-type(4):hover {
    z-index: 10;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }

#hot_recommend, #wr_recommend {
  width: 100%;
  height: 31px;
  margin-top: 70px;
  margin-left: 20px; }
  #hot_recommend .hot_p, #hot_recommend .wr_p, #wr_recommend .hot_p, #wr_recommend .wr_p {
    margin-left: 10px;
    float: left;
    font-size: 24px;
    color: #333; }
  #hot_recommend .arrows, #wr_recommend .arrows {
    margin-right: 35px;
    float: right;
    text-align: center; }
    #hot_recommend .arrows span, #wr_recommend .arrows span {
      width: 30px;
      height: 20px;
      border: 1px solid #EFEFEF;
      color: #EFEFEF;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer; }
    #hot_recommend .arrows span:hover, #wr_recommend .arrows span:hover {
      border-color: #00c3f5;
      color: #00c3f5; }

#wr_recommend {
  margin-top: -70px; }

#wr_hot_comment {
  width: 100%;
  height: 415px;
  position: relative;
  margin: 20px auto; }
  #wr_hot_comment h2 {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    font-size: 24px;
    color: #333;
    font-weight: 300; }
  #wr_hot_comment .wr_hot_comment_ul {
    height: 415px;
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 80px; }
    #wr_hot_comment .wr_hot_comment_ul li {
      background: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      width: 296px;
      height: 415px; }
      #wr_hot_comment .wr_hot_comment_ul li a {
        display: block;
        height: 100%;
        overflow: hidden; }
        #wr_hot_comment .wr_hot_comment_ul li a img {
          display: block;
          width: 296px;
          height: 220px; }
        #wr_hot_comment .wr_hot_comment_ul li a h4 {
          font-size: 12px;
          color: #B0B0B0;
          margin-left: 28px;
          margin-top: 5px;
          font-weight: 300;
          width: 240px;
          line-height: 32px; }
        #wr_hot_comment .wr_hot_comment_ul li a h6 {
          font-size: 12px;
          color: #333;
          height: 72px;
          margin-left: 28px;
          font-weight: 300;
          font-size: 14px;
          line-height: 24px;
          width: 240px; }
        #wr_hot_comment .wr_hot_comment_ul li a span {
          padding-top: 20px;
          padding-right: 2px;
          margin: 20px 4px;
          margin-top: 15px;
          font-size: 14px;
          color: #FF6709;
          width: 240px; }
        #wr_hot_comment .wr_hot_comment_ul li a span:nth-of-type(1) {
          color: #333;
          margin-left: 28px; }
    #wr_hot_comment .wr_hot_comment_ul li:hover {
      transform: translate3d(0, -2px, 0);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

#hot_goods, #wr_rec_goods {
  width: 100%;
  height: 340px;
  margin: 20px auto;
  overflow: hidden;
  position: relative; }
  #hot_goods .hot_goodsUl, #hot_goods .wr_rec_goods_ul, #wr_rec_goods .hot_goodsUl, #wr_rec_goods .wr_rec_goods_ul {
    height: 340px;
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 0; }
    #hot_goods .hot_goodsUl li, #hot_goods .wr_rec_goods_ul li, #wr_rec_goods .hot_goodsUl li, #wr_rec_goods .wr_rec_goods_ul li {
      border-top-width: 1px;
      border-top-style: solid;
      background: #fafafa;
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      width: 234px;
      height: 300px;
      margin-right: 10px;
      padding-top: 39px;
      margin-right: -2px;
      text-align: center;
      transition: all .6s; }
      #hot_goods .hot_goodsUl li a, #hot_goods .wr_rec_goods_ul li a, #wr_rec_goods .hot_goodsUl li a, #wr_rec_goods .wr_rec_goods_ul li a {
        display: block;
        height: 100%;
        padding: 0 10px;
        overflow: hidden;
        text-align: center; }
        #hot_goods .hot_goodsUl li a img, #hot_goods .wr_rec_goods_ul li a img, #wr_rec_goods .hot_goodsUl li a img, #wr_rec_goods .wr_rec_goods_ul li a img {
          display: block;
          width: 160px;
          height: 160px;
          margin: 10px auto 0; }
        #hot_goods .hot_goodsUl li a h4, #hot_goods .wr_rec_goods_ul li a h4, #wr_rec_goods .hot_goodsUl li a h4, #wr_rec_goods .wr_rec_goods_ul li a h4 {
          font-size: 14px;
          color: #212121;
          margin-top: 30px;
          font-weight: 300; }
        #hot_goods .hot_goodsUl li a h6, #hot_goods .wr_rec_goods_ul li a h6, #wr_rec_goods .hot_goodsUl li a h6, #wr_rec_goods .wr_rec_goods_ul li a h6 {
          font-size: 12px;
          color: #B0B0B0;
          width: 210px;
          margin-left: 8px;
          margin-top: 5px;
          font-weight: 300; }
        #hot_goods .hot_goodsUl li a span, #hot_goods .wr_rec_goods_ul li a span, #wr_rec_goods .hot_goodsUl li a span, #wr_rec_goods .wr_rec_goods_ul li a span {
          padding-right: 2px;
          margin: 20px 4px;
          margin-top: 15px;
          font-size: 14px;
          color: #FF6709; }
    #hot_goods .hot_goodsUl li:hover, #hot_goods .wr_rec_goods_ul li:hover, #wr_rec_goods .hot_goodsUl li:hover, #wr_rec_goods .wr_rec_goods_ul li:hover {
      border-color: #BDBDBD;
      z-index: 2;
      transition: border-color .8s,z-index 0s; }

#wr_rec_goods .wr_rec_goods_ul li {
  border: none;
  background: #fff; }
#wr_rec_goods .wr_rec_goods_ul li:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

#wr_goods {
  background: #F5F5F5;
  overflow: hidden; }
  #wr_goods #wr_Appliances, #wr_goods #wr_capacity, #wr_goods #wr_match, #wr_goods #wr_parts, #wr_goods #wr_rim {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px; }
    #wr_goods #wr_Appliances .wr_Appliances_nav, #wr_goods #wr_Appliances .wr_capacity_nav, #wr_goods #wr_Appliances .wr_match_nav, #wr_goods #wr_Appliances .wr_parts_nav, #wr_goods #wr_Appliances .wr_rim_nav, #wr_goods #wr_capacity .wr_Appliances_nav, #wr_goods #wr_capacity .wr_capacity_nav, #wr_goods #wr_capacity .wr_match_nav, #wr_goods #wr_capacity .wr_parts_nav, #wr_goods #wr_capacity .wr_rim_nav, #wr_goods #wr_match .wr_Appliances_nav, #wr_goods #wr_match .wr_capacity_nav, #wr_goods #wr_match .wr_match_nav, #wr_goods #wr_match .wr_parts_nav, #wr_goods #wr_match .wr_rim_nav, #wr_goods #wr_parts .wr_Appliances_nav, #wr_goods #wr_parts .wr_capacity_nav, #wr_goods #wr_parts .wr_match_nav, #wr_goods #wr_parts .wr_parts_nav, #wr_goods #wr_parts .wr_rim_nav, #wr_goods #wr_rim .wr_Appliances_nav, #wr_goods #wr_rim .wr_capacity_nav, #wr_goods #wr_rim .wr_match_nav, #wr_goods #wr_rim .wr_parts_nav, #wr_goods #wr_rim .wr_rim_nav {
      overflow: hidden;
      color: #333; }
      #wr_goods #wr_Appliances .wr_Appliances_nav h2, #wr_goods #wr_Appliances .wr_capacity_nav h2, #wr_goods #wr_Appliances .wr_match_nav h2, #wr_goods #wr_Appliances .wr_parts_nav h2, #wr_goods #wr_Appliances .wr_rim_nav h2, #wr_goods #wr_capacity .wr_Appliances_nav h2, #wr_goods #wr_capacity .wr_capacity_nav h2, #wr_goods #wr_capacity .wr_match_nav h2, #wr_goods #wr_capacity .wr_parts_nav h2, #wr_goods #wr_capacity .wr_rim_nav h2, #wr_goods #wr_match .wr_Appliances_nav h2, #wr_goods #wr_match .wr_capacity_nav h2, #wr_goods #wr_match .wr_match_nav h2, #wr_goods #wr_match .wr_parts_nav h2, #wr_goods #wr_match .wr_rim_nav h2, #wr_goods #wr_parts .wr_Appliances_nav h2, #wr_goods #wr_parts .wr_capacity_nav h2, #wr_goods #wr_parts .wr_match_nav h2, #wr_goods #wr_parts .wr_parts_nav h2, #wr_goods #wr_parts .wr_rim_nav h2, #wr_goods #wr_rim .wr_Appliances_nav h2, #wr_goods #wr_rim .wr_capacity_nav h2, #wr_goods #wr_rim .wr_match_nav h2, #wr_goods #wr_rim .wr_parts_nav h2, #wr_goods #wr_rim .wr_rim_nav h2 {
        font-size: 22px;
        font-weight: 200;
        line-height: 58px;
        float: left;
        display: inline-block; }
      #wr_goods #wr_Appliances .wr_Appliances_nav p, #wr_goods #wr_Appliances .wr_capacity_nav p, #wr_goods #wr_Appliances .wr_match_nav p, #wr_goods #wr_Appliances .wr_parts_nav p, #wr_goods #wr_Appliances .wr_rim_nav p, #wr_goods #wr_capacity .wr_Appliances_nav p, #wr_goods #wr_capacity .wr_capacity_nav p, #wr_goods #wr_capacity .wr_match_nav p, #wr_goods #wr_capacity .wr_parts_nav p, #wr_goods #wr_capacity .wr_rim_nav p, #wr_goods #wr_match .wr_Appliances_nav p, #wr_goods #wr_match .wr_capacity_nav p, #wr_goods #wr_match .wr_match_nav p, #wr_goods #wr_match .wr_parts_nav p, #wr_goods #wr_match .wr_rim_nav p, #wr_goods #wr_parts .wr_Appliances_nav p, #wr_goods #wr_parts .wr_capacity_nav p, #wr_goods #wr_parts .wr_match_nav p, #wr_goods #wr_parts .wr_parts_nav p, #wr_goods #wr_parts .wr_rim_nav p, #wr_goods #wr_rim .wr_Appliances_nav p, #wr_goods #wr_rim .wr_capacity_nav p, #wr_goods #wr_rim .wr_match_nav p, #wr_goods #wr_rim .wr_parts_nav p, #wr_goods #wr_rim .wr_rim_nav p {
        float: right;
        display: inline-block;
        line-height: 59px; }
        #wr_goods #wr_Appliances .wr_Appliances_nav p a, #wr_goods #wr_Appliances .wr_capacity_nav p a, #wr_goods #wr_Appliances .wr_match_nav p a, #wr_goods #wr_Appliances .wr_parts_nav p a, #wr_goods #wr_Appliances .wr_rim_nav p a, #wr_goods #wr_capacity .wr_Appliances_nav p a, #wr_goods #wr_capacity .wr_capacity_nav p a, #wr_goods #wr_capacity .wr_match_nav p a, #wr_goods #wr_capacity .wr_parts_nav p a, #wr_goods #wr_capacity .wr_rim_nav p a, #wr_goods #wr_match .wr_Appliances_nav p a, #wr_goods #wr_match .wr_capacity_nav p a, #wr_goods #wr_match .wr_match_nav p a, #wr_goods #wr_match .wr_parts_nav p a, #wr_goods #wr_match .wr_rim_nav p a, #wr_goods #wr_parts .wr_Appliances_nav p a, #wr_goods #wr_parts .wr_capacity_nav p a, #wr_goods #wr_parts .wr_match_nav p a, #wr_goods #wr_parts .wr_parts_nav p a, #wr_goods #wr_parts .wr_rim_nav p a, #wr_goods #wr_rim .wr_Appliances_nav p a, #wr_goods #wr_rim .wr_capacity_nav p a, #wr_goods #wr_rim .wr_match_nav p a, #wr_goods #wr_rim .wr_parts_nav p a, #wr_goods #wr_rim .wr_rim_nav p a {
          font-size: 16px;
          padding: 5px 10px; }
        #wr_goods #wr_Appliances .wr_Appliances_nav p a:nth-of-type(1), #wr_goods #wr_Appliances .wr_capacity_nav p a:nth-of-type(1), #wr_goods #wr_Appliances .wr_match_nav p a:nth-of-type(1), #wr_goods #wr_Appliances .wr_parts_nav p a:nth-of-type(1), #wr_goods #wr_Appliances .wr_rim_nav p a:nth-of-type(1), #wr_goods #wr_capacity .wr_Appliances_nav p a:nth-of-type(1), #wr_goods #wr_capacity .wr_capacity_nav p a:nth-of-type(1), #wr_goods #wr_capacity .wr_match_nav p a:nth-of-type(1), #wr_goods #wr_capacity .wr_parts_nav p a:nth-of-type(1), #wr_goods #wr_capacity .wr_rim_nav p a:nth-of-type(1), #wr_goods #wr_match .wr_Appliances_nav p a:nth-of-type(1), #wr_goods #wr_match .wr_capacity_nav p a:nth-of-type(1), #wr_goods #wr_match .wr_match_nav p a:nth-of-type(1), #wr_goods #wr_match .wr_parts_nav p a:nth-of-type(1), #wr_goods #wr_match .wr_rim_nav p a:nth-of-type(1), #wr_goods #wr_parts .wr_Appliances_nav p a:nth-of-type(1), #wr_goods #wr_parts .wr_capacity_nav p a:nth-of-type(1), #wr_goods #wr_parts .wr_match_nav p a:nth-of-type(1), #wr_goods #wr_parts .wr_parts_nav p a:nth-of-type(1), #wr_goods #wr_parts .wr_rim_nav p a:nth-of-type(1), #wr_goods #wr_rim .wr_Appliances_nav p a:nth-of-type(1), #wr_goods #wr_rim .wr_capacity_nav p a:nth-of-type(1), #wr_goods #wr_rim .wr_match_nav p a:nth-of-type(1), #wr_goods #wr_rim .wr_parts_nav p a:nth-of-type(1), #wr_goods #wr_rim .wr_rim_nav p a:nth-of-type(1) {
          color: #FF671E;
          border-bottom: 2px solid #FF671E; }
  #wr_goods #wr_capacity, #wr_goods #wr_match, #wr_goods #wr_parts, #wr_goods #wr_rim {
    margin-top: -66px; }
  #wr_goods .wr_Appliances_left {
    float: left; }
    #wr_goods .wr_Appliances_left img {
      height: 614px; }
  #wr_goods .wr_Appliances_right, #wr_goods .wr_capacity_right, #wr_goods .wr_match_right, #wr_goods .wr_parts_right, #wr_goods .wr_rim_right {
    overflow: hidden; }
    #wr_goods .wr_Appliances_right .wr_Appliances_ul, #wr_goods .wr_Appliances_right .wr_capacity_ul, #wr_goods .wr_Appliances_right .wr_match_ul, #wr_goods .wr_Appliances_right .wr_parts_ul, #wr_goods .wr_Appliances_right .wr_rim_ul, #wr_goods .wr_capacity_right .wr_Appliances_ul, #wr_goods .wr_capacity_right .wr_capacity_ul, #wr_goods .wr_capacity_right .wr_match_ul, #wr_goods .wr_capacity_right .wr_parts_ul, #wr_goods .wr_capacity_right .wr_rim_ul, #wr_goods .wr_match_right .wr_Appliances_ul, #wr_goods .wr_match_right .wr_capacity_ul, #wr_goods .wr_match_right .wr_match_ul, #wr_goods .wr_match_right .wr_parts_ul, #wr_goods .wr_match_right .wr_rim_ul, #wr_goods .wr_parts_right .wr_Appliances_ul, #wr_goods .wr_parts_right .wr_capacity_ul, #wr_goods .wr_parts_right .wr_match_ul, #wr_goods .wr_parts_right .wr_parts_ul, #wr_goods .wr_parts_right .wr_rim_ul, #wr_goods .wr_rim_right .wr_Appliances_ul, #wr_goods .wr_rim_right .wr_capacity_ul, #wr_goods .wr_rim_right .wr_match_ul, #wr_goods .wr_rim_right .wr_parts_ul, #wr_goods .wr_rim_right .wr_rim_ul {
      float: right; }
      #wr_goods .wr_Appliances_right .wr_Appliances_ul li, #wr_goods .wr_Appliances_right .wr_capacity_ul li, #wr_goods .wr_Appliances_right .wr_match_ul li, #wr_goods .wr_Appliances_right .wr_parts_ul li, #wr_goods .wr_Appliances_right .wr_rim_ul li, #wr_goods .wr_capacity_right .wr_Appliances_ul li, #wr_goods .wr_capacity_right .wr_capacity_ul li, #wr_goods .wr_capacity_right .wr_match_ul li, #wr_goods .wr_capacity_right .wr_parts_ul li, #wr_goods .wr_capacity_right .wr_rim_ul li, #wr_goods .wr_match_right .wr_Appliances_ul li, #wr_goods .wr_match_right .wr_capacity_ul li, #wr_goods .wr_match_right .wr_match_ul li, #wr_goods .wr_match_right .wr_parts_ul li, #wr_goods .wr_match_right .wr_rim_ul li, #wr_goods .wr_parts_right .wr_Appliances_ul li, #wr_goods .wr_parts_right .wr_capacity_ul li, #wr_goods .wr_parts_right .wr_match_ul li, #wr_goods .wr_parts_right .wr_parts_ul li, #wr_goods .wr_parts_right .wr_rim_ul li, #wr_goods .wr_rim_right .wr_Appliances_ul li, #wr_goods .wr_rim_right .wr_capacity_ul li, #wr_goods .wr_rim_right .wr_match_ul li, #wr_goods .wr_rim_right .wr_parts_ul li, #wr_goods .wr_rim_right .wr_rim_ul li {
        position: relative;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        width: 234px;
        height: 300px;
        margin-right: 10px;
        margin-right: -2px;
        text-align: center;
        transition: all .6s; }
        #wr_goods .wr_Appliances_right .wr_Appliances_ul li a, #wr_goods .wr_Appliances_right .wr_capacity_ul li a, #wr_goods .wr_Appliances_right .wr_match_ul li a, #wr_goods .wr_Appliances_right .wr_parts_ul li a, #wr_goods .wr_Appliances_right .wr_rim_ul li a, #wr_goods .wr_capacity_right .wr_Appliances_ul li a, #wr_goods .wr_capacity_right .wr_capacity_ul li a, #wr_goods .wr_capacity_right .wr_match_ul li a, #wr_goods .wr_capacity_right .wr_parts_ul li a, #wr_goods .wr_capacity_right .wr_rim_ul li a, #wr_goods .wr_match_right .wr_Appliances_ul li a, #wr_goods .wr_match_right .wr_capacity_ul li a, #wr_goods .wr_match_right .wr_match_ul li a, #wr_goods .wr_match_right .wr_parts_ul li a, #wr_goods .wr_match_right .wr_rim_ul li a, #wr_goods .wr_parts_right .wr_Appliances_ul li a, #wr_goods .wr_parts_right .wr_capacity_ul li a, #wr_goods .wr_parts_right .wr_match_ul li a, #wr_goods .wr_parts_right .wr_parts_ul li a, #wr_goods .wr_parts_right .wr_rim_ul li a, #wr_goods .wr_rim_right .wr_Appliances_ul li a, #wr_goods .wr_rim_right .wr_capacity_ul li a, #wr_goods .wr_rim_right .wr_match_ul li a, #wr_goods .wr_rim_right .wr_parts_ul li a, #wr_goods .wr_rim_right .wr_rim_ul li a {
          display: block;
          height: 100%;
          padding: 0 10px;
          overflow: hidden;
          text-align: center; }
          #wr_goods .wr_Appliances_right .wr_Appliances_ul li a img, #wr_goods .wr_Appliances_right .wr_capacity_ul li a img, #wr_goods .wr_Appliances_right .wr_match_ul li a img, #wr_goods .wr_Appliances_right .wr_parts_ul li a img, #wr_goods .wr_Appliances_right .wr_rim_ul li a img, #wr_goods .wr_capacity_right .wr_Appliances_ul li a img, #wr_goods .wr_capacity_right .wr_capacity_ul li a img, #wr_goods .wr_capacity_right .wr_match_ul li a img, #wr_goods .wr_capacity_right .wr_parts_ul li a img, #wr_goods .wr_capacity_right .wr_rim_ul li a img, #wr_goods .wr_match_right .wr_Appliances_ul li a img, #wr_goods .wr_match_right .wr_capacity_ul li a img, #wr_goods .wr_match_right .wr_match_ul li a img, #wr_goods .wr_match_right .wr_parts_ul li a img, #wr_goods .wr_match_right .wr_rim_ul li a img, #wr_goods .wr_parts_right .wr_Appliances_ul li a img, #wr_goods .wr_parts_right .wr_capacity_ul li a img, #wr_goods .wr_parts_right .wr_match_ul li a img, #wr_goods .wr_parts_right .wr_parts_ul li a img, #wr_goods .wr_parts_right .wr_rim_ul li a img, #wr_goods .wr_rim_right .wr_Appliances_ul li a img, #wr_goods .wr_rim_right .wr_capacity_ul li a img, #wr_goods .wr_rim_right .wr_match_ul li a img, #wr_goods .wr_rim_right .wr_parts_ul li a img, #wr_goods .wr_rim_right .wr_rim_ul li a img {
            display: block;
            width: 160px;
            height: 160px;
            margin: 10px auto 0; }
          #wr_goods .wr_Appliances_right .wr_Appliances_ul li a h4, #wr_goods .wr_Appliances_right .wr_capacity_ul li a h4, #wr_goods .wr_Appliances_right .wr_match_ul li a h4, #wr_goods .wr_Appliances_right .wr_parts_ul li a h4, #wr_goods .wr_Appliances_right .wr_rim_ul li a h4, #wr_goods .wr_capacity_right .wr_Appliances_ul li a h4, #wr_goods .wr_capacity_right .wr_capacity_ul li a h4, #wr_goods .wr_capacity_right .wr_match_ul li a h4, #wr_goods .wr_capacity_right .wr_parts_ul li a h4, #wr_goods .wr_capacity_right .wr_rim_ul li a h4, #wr_goods .wr_match_right .wr_Appliances_ul li a h4, #wr_goods .wr_match_right .wr_capacity_ul li a h4, #wr_goods .wr_match_right .wr_match_ul li a h4, #wr_goods .wr_match_right .wr_parts_ul li a h4, #wr_goods .wr_match_right .wr_rim_ul li a h4, #wr_goods .wr_parts_right .wr_Appliances_ul li a h4, #wr_goods .wr_parts_right .wr_capacity_ul li a h4, #wr_goods .wr_parts_right .wr_match_ul li a h4, #wr_goods .wr_parts_right .wr_parts_ul li a h4, #wr_goods .wr_parts_right .wr_rim_ul li a h4, #wr_goods .wr_rim_right .wr_Appliances_ul li a h4, #wr_goods .wr_rim_right .wr_capacity_ul li a h4, #wr_goods .wr_rim_right .wr_match_ul li a h4, #wr_goods .wr_rim_right .wr_parts_ul li a h4, #wr_goods .wr_rim_right .wr_rim_ul li a h4 {
            font-size: 14px;
            color: #212121;
            margin-top: 30px;
            font-weight: 300; }
          #wr_goods .wr_Appliances_right .wr_Appliances_ul li a h6, #wr_goods .wr_Appliances_right .wr_capacity_ul li a h6, #wr_goods .wr_Appliances_right .wr_match_ul li a h6, #wr_goods .wr_Appliances_right .wr_parts_ul li a h6, #wr_goods .wr_Appliances_right .wr_rim_ul li a h6, #wr_goods .wr_capacity_right .wr_Appliances_ul li a h6, #wr_goods .wr_capacity_right .wr_capacity_ul li a h6, #wr_goods .wr_capacity_right .wr_match_ul li a h6, #wr_goods .wr_capacity_right .wr_parts_ul li a h6, #wr_goods .wr_capacity_right .wr_rim_ul li a h6, #wr_goods .wr_match_right .wr_Appliances_ul li a h6, #wr_goods .wr_match_right .wr_capacity_ul li a h6, #wr_goods .wr_match_right .wr_match_ul li a h6, #wr_goods .wr_match_right .wr_parts_ul li a h6, #wr_goods .wr_match_right .wr_rim_ul li a h6, #wr_goods .wr_parts_right .wr_Appliances_ul li a h6, #wr_goods .wr_parts_right .wr_capacity_ul li a h6, #wr_goods .wr_parts_right .wr_match_ul li a h6, #wr_goods .wr_parts_right .wr_parts_ul li a h6, #wr_goods .wr_parts_right .wr_rim_ul li a h6, #wr_goods .wr_rim_right .wr_Appliances_ul li a h6, #wr_goods .wr_rim_right .wr_capacity_ul li a h6, #wr_goods .wr_rim_right .wr_match_ul li a h6, #wr_goods .wr_rim_right .wr_parts_ul li a h6, #wr_goods .wr_rim_right .wr_rim_ul li a h6 {
            font-size: 12px;
            color: #B0B0B0;
            width: 210px;
            margin-left: 8px;
            margin-top: 5px;
            font-weight: 300; }
          #wr_goods .wr_Appliances_right .wr_Appliances_ul li a span, #wr_goods .wr_Appliances_right .wr_capacity_ul li a span, #wr_goods .wr_Appliances_right .wr_match_ul li a span, #wr_goods .wr_Appliances_right .wr_parts_ul li a span, #wr_goods .wr_Appliances_right .wr_rim_ul li a span, #wr_goods .wr_capacity_right .wr_Appliances_ul li a span, #wr_goods .wr_capacity_right .wr_capacity_ul li a span, #wr_goods .wr_capacity_right .wr_match_ul li a span, #wr_goods .wr_capacity_right .wr_parts_ul li a span, #wr_goods .wr_capacity_right .wr_rim_ul li a span, #wr_goods .wr_match_right .wr_Appliances_ul li a span, #wr_goods .wr_match_right .wr_capacity_ul li a span, #wr_goods .wr_match_right .wr_match_ul li a span, #wr_goods .wr_match_right .wr_parts_ul li a span, #wr_goods .wr_match_right .wr_rim_ul li a span, #wr_goods .wr_parts_right .wr_Appliances_ul li a span, #wr_goods .wr_parts_right .wr_capacity_ul li a span, #wr_goods .wr_parts_right .wr_match_ul li a span, #wr_goods .wr_parts_right .wr_parts_ul li a span, #wr_goods .wr_parts_right .wr_rim_ul li a span, #wr_goods .wr_rim_right .wr_Appliances_ul li a span, #wr_goods .wr_rim_right .wr_capacity_ul li a span, #wr_goods .wr_rim_right .wr_match_ul li a span, #wr_goods .wr_rim_right .wr_parts_ul li a span, #wr_goods .wr_rim_right .wr_rim_ul li a span {
            padding-right: 2px;
            margin: 20px 4px;
            margin-top: 15px;
            font-size: 14px;
            color: #FF6709; }
      #wr_goods .wr_Appliances_right .wr_Appliances_ul li:nth-of-type(5), #wr_goods .wr_Appliances_right .wr_Appliances_ul li:nth-of-type(6), #wr_goods .wr_Appliances_right .wr_Appliances_ul li:nth-of-type(7), #wr_goods .wr_Appliances_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_capacity_ul li:nth-of-type(5), #wr_goods .wr_Appliances_right .wr_capacity_ul li:nth-of-type(6), #wr_goods .wr_Appliances_right .wr_capacity_ul li:nth-of-type(7), #wr_goods .wr_Appliances_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_match_ul li:nth-of-type(5), #wr_goods .wr_Appliances_right .wr_match_ul li:nth-of-type(6), #wr_goods .wr_Appliances_right .wr_match_ul li:nth-of-type(7), #wr_goods .wr_Appliances_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_parts_ul li:nth-of-type(5), #wr_goods .wr_Appliances_right .wr_parts_ul li:nth-of-type(6), #wr_goods .wr_Appliances_right .wr_parts_ul li:nth-of-type(7), #wr_goods .wr_Appliances_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_rim_ul li:nth-of-type(5), #wr_goods .wr_Appliances_right .wr_rim_ul li:nth-of-type(6), #wr_goods .wr_Appliances_right .wr_rim_ul li:nth-of-type(7), #wr_goods .wr_Appliances_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_Appliances_ul li:nth-of-type(5), #wr_goods .wr_capacity_right .wr_Appliances_ul li:nth-of-type(6), #wr_goods .wr_capacity_right .wr_Appliances_ul li:nth-of-type(7), #wr_goods .wr_capacity_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_capacity_ul li:nth-of-type(5), #wr_goods .wr_capacity_right .wr_capacity_ul li:nth-of-type(6), #wr_goods .wr_capacity_right .wr_capacity_ul li:nth-of-type(7), #wr_goods .wr_capacity_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_match_ul li:nth-of-type(5), #wr_goods .wr_capacity_right .wr_match_ul li:nth-of-type(6), #wr_goods .wr_capacity_right .wr_match_ul li:nth-of-type(7), #wr_goods .wr_capacity_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_parts_ul li:nth-of-type(5), #wr_goods .wr_capacity_right .wr_parts_ul li:nth-of-type(6), #wr_goods .wr_capacity_right .wr_parts_ul li:nth-of-type(7), #wr_goods .wr_capacity_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_rim_ul li:nth-of-type(5), #wr_goods .wr_capacity_right .wr_rim_ul li:nth-of-type(6), #wr_goods .wr_capacity_right .wr_rim_ul li:nth-of-type(7), #wr_goods .wr_capacity_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_Appliances_ul li:nth-of-type(5), #wr_goods .wr_match_right .wr_Appliances_ul li:nth-of-type(6), #wr_goods .wr_match_right .wr_Appliances_ul li:nth-of-type(7), #wr_goods .wr_match_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_capacity_ul li:nth-of-type(5), #wr_goods .wr_match_right .wr_capacity_ul li:nth-of-type(6), #wr_goods .wr_match_right .wr_capacity_ul li:nth-of-type(7), #wr_goods .wr_match_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_match_ul li:nth-of-type(5), #wr_goods .wr_match_right .wr_match_ul li:nth-of-type(6), #wr_goods .wr_match_right .wr_match_ul li:nth-of-type(7), #wr_goods .wr_match_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_parts_ul li:nth-of-type(5), #wr_goods .wr_match_right .wr_parts_ul li:nth-of-type(6), #wr_goods .wr_match_right .wr_parts_ul li:nth-of-type(7), #wr_goods .wr_match_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_rim_ul li:nth-of-type(5), #wr_goods .wr_match_right .wr_rim_ul li:nth-of-type(6), #wr_goods .wr_match_right .wr_rim_ul li:nth-of-type(7), #wr_goods .wr_match_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_Appliances_ul li:nth-of-type(5), #wr_goods .wr_parts_right .wr_Appliances_ul li:nth-of-type(6), #wr_goods .wr_parts_right .wr_Appliances_ul li:nth-of-type(7), #wr_goods .wr_parts_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_capacity_ul li:nth-of-type(5), #wr_goods .wr_parts_right .wr_capacity_ul li:nth-of-type(6), #wr_goods .wr_parts_right .wr_capacity_ul li:nth-of-type(7), #wr_goods .wr_parts_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_match_ul li:nth-of-type(5), #wr_goods .wr_parts_right .wr_match_ul li:nth-of-type(6), #wr_goods .wr_parts_right .wr_match_ul li:nth-of-type(7), #wr_goods .wr_parts_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_parts_ul li:nth-of-type(5), #wr_goods .wr_parts_right .wr_parts_ul li:nth-of-type(6), #wr_goods .wr_parts_right .wr_parts_ul li:nth-of-type(7), #wr_goods .wr_parts_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_rim_ul li:nth-of-type(5), #wr_goods .wr_parts_right .wr_rim_ul li:nth-of-type(6), #wr_goods .wr_parts_right .wr_rim_ul li:nth-of-type(7), #wr_goods .wr_parts_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_Appliances_ul li:nth-of-type(5), #wr_goods .wr_rim_right .wr_Appliances_ul li:nth-of-type(6), #wr_goods .wr_rim_right .wr_Appliances_ul li:nth-of-type(7), #wr_goods .wr_rim_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_capacity_ul li:nth-of-type(5), #wr_goods .wr_rim_right .wr_capacity_ul li:nth-of-type(6), #wr_goods .wr_rim_right .wr_capacity_ul li:nth-of-type(7), #wr_goods .wr_rim_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_match_ul li:nth-of-type(5), #wr_goods .wr_rim_right .wr_match_ul li:nth-of-type(6), #wr_goods .wr_rim_right .wr_match_ul li:nth-of-type(7), #wr_goods .wr_rim_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_parts_ul li:nth-of-type(5), #wr_goods .wr_rim_right .wr_parts_ul li:nth-of-type(6), #wr_goods .wr_rim_right .wr_parts_ul li:nth-of-type(7), #wr_goods .wr_rim_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_rim_ul li:nth-of-type(5), #wr_goods .wr_rim_right .wr_rim_ul li:nth-of-type(6), #wr_goods .wr_rim_right .wr_rim_ul li:nth-of-type(7), #wr_goods .wr_rim_right .wr_rim_ul li:nth-of-type(8) {
        margin-top: 12px; }
      #wr_goods .wr_Appliances_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_Appliances_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_capacity_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_match_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_parts_right .wr_rim_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_Appliances_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_capacity_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_match_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_parts_ul li:nth-of-type(8), #wr_goods .wr_rim_right .wr_rim_ul li:nth-of-type(8) {
        margin-top: -142px;
        overflow: hidden;
        height: 143px; }
        #wr_goods .wr_Appliances_right .wr_Appliances_ul li:nth-of-type(8) img, #wr_goods .wr_Appliances_right .wr_capacity_ul li:nth-of-type(8) img, #wr_goods .wr_Appliances_right .wr_match_ul li:nth-of-type(8) img, #wr_goods .wr_Appliances_right .wr_parts_ul li:nth-of-type(8) img, #wr_goods .wr_Appliances_right .wr_rim_ul li:nth-of-type(8) img, #wr_goods .wr_capacity_right .wr_Appliances_ul li:nth-of-type(8) img, #wr_goods .wr_capacity_right .wr_capacity_ul li:nth-of-type(8) img, #wr_goods .wr_capacity_right .wr_match_ul li:nth-of-type(8) img, #wr_goods .wr_capacity_right .wr_parts_ul li:nth-of-type(8) img, #wr_goods .wr_capacity_right .wr_rim_ul li:nth-of-type(8) img, #wr_goods .wr_match_right .wr_Appliances_ul li:nth-of-type(8) img, #wr_goods .wr_match_right .wr_capacity_ul li:nth-of-type(8) img, #wr_goods .wr_match_right .wr_match_ul li:nth-of-type(8) img, #wr_goods .wr_match_right .wr_parts_ul li:nth-of-type(8) img, #wr_goods .wr_match_right .wr_rim_ul li:nth-of-type(8) img, #wr_goods .wr_parts_right .wr_Appliances_ul li:nth-of-type(8) img, #wr_goods .wr_parts_right .wr_capacity_ul li:nth-of-type(8) img, #wr_goods .wr_parts_right .wr_match_ul li:nth-of-type(8) img, #wr_goods .wr_parts_right .wr_parts_ul li:nth-of-type(8) img, #wr_goods .wr_parts_right .wr_rim_ul li:nth-of-type(8) img, #wr_goods .wr_rim_right .wr_Appliances_ul li:nth-of-type(8) img, #wr_goods .wr_rim_right .wr_capacity_ul li:nth-of-type(8) img, #wr_goods .wr_rim_right .wr_match_ul li:nth-of-type(8) img, #wr_goods .wr_rim_right .wr_parts_ul li:nth-of-type(8) img, #wr_goods .wr_rim_right .wr_rim_ul li:nth-of-type(8) img {
          height: 80px;
          width: 80px;
          float: right; }
      #wr_goods .wr_Appliances_right .wr_Appliances_ul div, #wr_goods .wr_Appliances_right .wr_capacity_ul div, #wr_goods .wr_Appliances_right .wr_match_ul div, #wr_goods .wr_Appliances_right .wr_parts_ul div, #wr_goods .wr_Appliances_right .wr_rim_ul div, #wr_goods .wr_capacity_right .wr_Appliances_ul div, #wr_goods .wr_capacity_right .wr_capacity_ul div, #wr_goods .wr_capacity_right .wr_match_ul div, #wr_goods .wr_capacity_right .wr_parts_ul div, #wr_goods .wr_capacity_right .wr_rim_ul div, #wr_goods .wr_match_right .wr_Appliances_ul div, #wr_goods .wr_match_right .wr_capacity_ul div, #wr_goods .wr_match_right .wr_match_ul div, #wr_goods .wr_match_right .wr_parts_ul div, #wr_goods .wr_match_right .wr_rim_ul div, #wr_goods .wr_parts_right .wr_Appliances_ul div, #wr_goods .wr_parts_right .wr_capacity_ul div, #wr_goods .wr_parts_right .wr_match_ul div, #wr_goods .wr_parts_right .wr_parts_ul div, #wr_goods .wr_parts_right .wr_rim_ul div, #wr_goods .wr_rim_right .wr_Appliances_ul div, #wr_goods .wr_rim_right .wr_capacity_ul div, #wr_goods .wr_rim_right .wr_match_ul div, #wr_goods .wr_rim_right .wr_parts_ul div, #wr_goods .wr_rim_right .wr_rim_ul div {
        position: relative;
        left: 741px;
        top: -145px; }
        #wr_goods .wr_Appliances_right .wr_Appliances_ul div li, #wr_goods .wr_Appliances_right .wr_capacity_ul div li, #wr_goods .wr_Appliances_right .wr_match_ul div li, #wr_goods .wr_Appliances_right .wr_parts_ul div li, #wr_goods .wr_Appliances_right .wr_rim_ul div li, #wr_goods .wr_capacity_right .wr_Appliances_ul div li, #wr_goods .wr_capacity_right .wr_capacity_ul div li, #wr_goods .wr_capacity_right .wr_match_ul div li, #wr_goods .wr_capacity_right .wr_parts_ul div li, #wr_goods .wr_capacity_right .wr_rim_ul div li, #wr_goods .wr_match_right .wr_Appliances_ul div li, #wr_goods .wr_match_right .wr_capacity_ul div li, #wr_goods .wr_match_right .wr_match_ul div li, #wr_goods .wr_match_right .wr_parts_ul div li, #wr_goods .wr_match_right .wr_rim_ul div li, #wr_goods .wr_parts_right .wr_Appliances_ul div li, #wr_goods .wr_parts_right .wr_capacity_ul div li, #wr_goods .wr_parts_right .wr_match_ul div li, #wr_goods .wr_parts_right .wr_parts_ul div li, #wr_goods .wr_parts_right .wr_rim_ul div li, #wr_goods .wr_rim_right .wr_Appliances_ul div li, #wr_goods .wr_rim_right .wr_capacity_ul div li, #wr_goods .wr_rim_right .wr_match_ul div li, #wr_goods .wr_rim_right .wr_parts_ul div li, #wr_goods .wr_rim_right .wr_rim_ul div li {
          height: 143px; }
          #wr_goods .wr_Appliances_right .wr_Appliances_ul div li h4, #wr_goods .wr_Appliances_right .wr_capacity_ul div li h4, #wr_goods .wr_Appliances_right .wr_match_ul div li h4, #wr_goods .wr_Appliances_right .wr_parts_ul div li h4, #wr_goods .wr_Appliances_right .wr_rim_ul div li h4, #wr_goods .wr_capacity_right .wr_Appliances_ul div li h4, #wr_goods .wr_capacity_right .wr_capacity_ul div li h4, #wr_goods .wr_capacity_right .wr_match_ul div li h4, #wr_goods .wr_capacity_right .wr_parts_ul div li h4, #wr_goods .wr_capacity_right .wr_rim_ul div li h4, #wr_goods .wr_match_right .wr_Appliances_ul div li h4, #wr_goods .wr_match_right .wr_capacity_ul div li h4, #wr_goods .wr_match_right .wr_match_ul div li h4, #wr_goods .wr_match_right .wr_parts_ul div li h4, #wr_goods .wr_match_right .wr_rim_ul div li h4, #wr_goods .wr_parts_right .wr_Appliances_ul div li h4, #wr_goods .wr_parts_right .wr_capacity_ul div li h4, #wr_goods .wr_parts_right .wr_match_ul div li h4, #wr_goods .wr_parts_right .wr_parts_ul div li h4, #wr_goods .wr_parts_right .wr_rim_ul div li h4, #wr_goods .wr_rim_right .wr_Appliances_ul div li h4, #wr_goods .wr_rim_right .wr_capacity_ul div li h4, #wr_goods .wr_rim_right .wr_match_ul div li h4, #wr_goods .wr_rim_right .wr_parts_ul div li h4, #wr_goods .wr_rim_right .wr_rim_ul div li h4 {
            font-size: 18px;
            color: #333;
            margin-left: -28px; }
          #wr_goods .wr_Appliances_right .wr_Appliances_ul div li span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_capacity_ul div li span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_match_ul div li span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_parts_ul div li span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_rim_ul div li span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_Appliances_ul div li span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_capacity_ul div li span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_match_ul div li span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_parts_ul div li span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_rim_ul div li span:nth-of-type(2), #wr_goods .wr_match_right .wr_Appliances_ul div li span:nth-of-type(2), #wr_goods .wr_match_right .wr_capacity_ul div li span:nth-of-type(2), #wr_goods .wr_match_right .wr_match_ul div li span:nth-of-type(2), #wr_goods .wr_match_right .wr_parts_ul div li span:nth-of-type(2), #wr_goods .wr_match_right .wr_rim_ul div li span:nth-of-type(2), #wr_goods .wr_parts_right .wr_Appliances_ul div li span:nth-of-type(2), #wr_goods .wr_parts_right .wr_capacity_ul div li span:nth-of-type(2), #wr_goods .wr_parts_right .wr_match_ul div li span:nth-of-type(2), #wr_goods .wr_parts_right .wr_parts_ul div li span:nth-of-type(2), #wr_goods .wr_parts_right .wr_rim_ul div li span:nth-of-type(2), #wr_goods .wr_rim_right .wr_Appliances_ul div li span:nth-of-type(2), #wr_goods .wr_rim_right .wr_capacity_ul div li span:nth-of-type(2), #wr_goods .wr_rim_right .wr_match_ul div li span:nth-of-type(2), #wr_goods .wr_rim_right .wr_parts_ul div li span:nth-of-type(2), #wr_goods .wr_rim_right .wr_rim_ul div li span:nth-of-type(2) {
            width: 48px;
            height: 48px;
            float: right;
            border: 4px solid #FF6700;
            border-radius: 50%;
            line-height: 48px;
            text-align: center;
            margin-top: -20px; }
            #wr_goods .wr_Appliances_right .wr_Appliances_ul div li span:nth-of-type(2) i, #wr_goods .wr_Appliances_right .wr_capacity_ul div li span:nth-of-type(2) i, #wr_goods .wr_Appliances_right .wr_match_ul div li span:nth-of-type(2) i, #wr_goods .wr_Appliances_right .wr_parts_ul div li span:nth-of-type(2) i, #wr_goods .wr_Appliances_right .wr_rim_ul div li span:nth-of-type(2) i, #wr_goods .wr_capacity_right .wr_Appliances_ul div li span:nth-of-type(2) i, #wr_goods .wr_capacity_right .wr_capacity_ul div li span:nth-of-type(2) i, #wr_goods .wr_capacity_right .wr_match_ul div li span:nth-of-type(2) i, #wr_goods .wr_capacity_right .wr_parts_ul div li span:nth-of-type(2) i, #wr_goods .wr_capacity_right .wr_rim_ul div li span:nth-of-type(2) i, #wr_goods .wr_match_right .wr_Appliances_ul div li span:nth-of-type(2) i, #wr_goods .wr_match_right .wr_capacity_ul div li span:nth-of-type(2) i, #wr_goods .wr_match_right .wr_match_ul div li span:nth-of-type(2) i, #wr_goods .wr_match_right .wr_parts_ul div li span:nth-of-type(2) i, #wr_goods .wr_match_right .wr_rim_ul div li span:nth-of-type(2) i, #wr_goods .wr_parts_right .wr_Appliances_ul div li span:nth-of-type(2) i, #wr_goods .wr_parts_right .wr_capacity_ul div li span:nth-of-type(2) i, #wr_goods .wr_parts_right .wr_match_ul div li span:nth-of-type(2) i, #wr_goods .wr_parts_right .wr_parts_ul div li span:nth-of-type(2) i, #wr_goods .wr_parts_right .wr_rim_ul div li span:nth-of-type(2) i, #wr_goods .wr_rim_right .wr_Appliances_ul div li span:nth-of-type(2) i, #wr_goods .wr_rim_right .wr_capacity_ul div li span:nth-of-type(2) i, #wr_goods .wr_rim_right .wr_match_ul div li span:nth-of-type(2) i, #wr_goods .wr_rim_right .wr_parts_ul div li span:nth-of-type(2) i, #wr_goods .wr_rim_right .wr_rim_ul div li span:nth-of-type(2) i {
              font-size: 30px;
              font-weight: 800; }
      #wr_goods .wr_Appliances_right .wr_Appliances_ul p, #wr_goods .wr_Appliances_right .wr_capacity_ul p, #wr_goods .wr_Appliances_right .wr_match_ul p, #wr_goods .wr_Appliances_right .wr_parts_ul p, #wr_goods .wr_Appliances_right .wr_rim_ul p, #wr_goods .wr_capacity_right .wr_Appliances_ul p, #wr_goods .wr_capacity_right .wr_capacity_ul p, #wr_goods .wr_capacity_right .wr_match_ul p, #wr_goods .wr_capacity_right .wr_parts_ul p, #wr_goods .wr_capacity_right .wr_rim_ul p, #wr_goods .wr_match_right .wr_Appliances_ul p, #wr_goods .wr_match_right .wr_capacity_ul p, #wr_goods .wr_match_right .wr_match_ul p, #wr_goods .wr_match_right .wr_parts_ul p, #wr_goods .wr_match_right .wr_rim_ul p, #wr_goods .wr_parts_right .wr_Appliances_ul p, #wr_goods .wr_parts_right .wr_capacity_ul p, #wr_goods .wr_parts_right .wr_match_ul p, #wr_goods .wr_parts_right .wr_parts_ul p, #wr_goods .wr_parts_right .wr_rim_ul p, #wr_goods .wr_rim_right .wr_Appliances_ul p, #wr_goods .wr_rim_right .wr_capacity_ul p, #wr_goods .wr_rim_right .wr_match_ul p, #wr_goods .wr_rim_right .wr_parts_ul p, #wr_goods .wr_rim_right .wr_rim_ul p {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20;
        width: 234px;
        height: 0;
        overflow: hidden;
        font-size: 12px;
        background: #ff6700;
        opacity: 0;
        transition: all .2s linear; }
        #wr_goods .wr_Appliances_right .wr_Appliances_ul p a span, #wr_goods .wr_Appliances_right .wr_capacity_ul p a span, #wr_goods .wr_Appliances_right .wr_match_ul p a span, #wr_goods .wr_Appliances_right .wr_parts_ul p a span, #wr_goods .wr_Appliances_right .wr_rim_ul p a span, #wr_goods .wr_capacity_right .wr_Appliances_ul p a span, #wr_goods .wr_capacity_right .wr_capacity_ul p a span, #wr_goods .wr_capacity_right .wr_match_ul p a span, #wr_goods .wr_capacity_right .wr_parts_ul p a span, #wr_goods .wr_capacity_right .wr_rim_ul p a span, #wr_goods .wr_match_right .wr_Appliances_ul p a span, #wr_goods .wr_match_right .wr_capacity_ul p a span, #wr_goods .wr_match_right .wr_match_ul p a span, #wr_goods .wr_match_right .wr_parts_ul p a span, #wr_goods .wr_match_right .wr_rim_ul p a span, #wr_goods .wr_parts_right .wr_Appliances_ul p a span, #wr_goods .wr_parts_right .wr_capacity_ul p a span, #wr_goods .wr_parts_right .wr_match_ul p a span, #wr_goods .wr_parts_right .wr_parts_ul p a span, #wr_goods .wr_parts_right .wr_rim_ul p a span, #wr_goods .wr_rim_right .wr_Appliances_ul p a span, #wr_goods .wr_rim_right .wr_capacity_ul p a span, #wr_goods .wr_rim_right .wr_match_ul p a span, #wr_goods .wr_rim_right .wr_parts_ul p a span, #wr_goods .wr_rim_right .wr_rim_ul p a span {
          display: block;
          line-height: 30px; }
        #wr_goods .wr_Appliances_right .wr_Appliances_ul p a span:nth-of-type(1), #wr_goods .wr_Appliances_right .wr_capacity_ul p a span:nth-of-type(1), #wr_goods .wr_Appliances_right .wr_match_ul p a span:nth-of-type(1), #wr_goods .wr_Appliances_right .wr_parts_ul p a span:nth-of-type(1), #wr_goods .wr_Appliances_right .wr_rim_ul p a span:nth-of-type(1), #wr_goods .wr_capacity_right .wr_Appliances_ul p a span:nth-of-type(1), #wr_goods .wr_capacity_right .wr_capacity_ul p a span:nth-of-type(1), #wr_goods .wr_capacity_right .wr_match_ul p a span:nth-of-type(1), #wr_goods .wr_capacity_right .wr_parts_ul p a span:nth-of-type(1), #wr_goods .wr_capacity_right .wr_rim_ul p a span:nth-of-type(1), #wr_goods .wr_match_right .wr_Appliances_ul p a span:nth-of-type(1), #wr_goods .wr_match_right .wr_capacity_ul p a span:nth-of-type(1), #wr_goods .wr_match_right .wr_match_ul p a span:nth-of-type(1), #wr_goods .wr_match_right .wr_parts_ul p a span:nth-of-type(1), #wr_goods .wr_match_right .wr_rim_ul p a span:nth-of-type(1), #wr_goods .wr_parts_right .wr_Appliances_ul p a span:nth-of-type(1), #wr_goods .wr_parts_right .wr_capacity_ul p a span:nth-of-type(1), #wr_goods .wr_parts_right .wr_match_ul p a span:nth-of-type(1), #wr_goods .wr_parts_right .wr_parts_ul p a span:nth-of-type(1), #wr_goods .wr_parts_right .wr_rim_ul p a span:nth-of-type(1), #wr_goods .wr_rim_right .wr_Appliances_ul p a span:nth-of-type(1), #wr_goods .wr_rim_right .wr_capacity_ul p a span:nth-of-type(1), #wr_goods .wr_rim_right .wr_match_ul p a span:nth-of-type(1), #wr_goods .wr_rim_right .wr_parts_ul p a span:nth-of-type(1), #wr_goods .wr_rim_right .wr_rim_ul p a span:nth-of-type(1) {
          color: #fff; }
        #wr_goods .wr_Appliances_right .wr_Appliances_ul p a span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_capacity_ul p a span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_match_ul p a span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_parts_ul p a span:nth-of-type(2), #wr_goods .wr_Appliances_right .wr_rim_ul p a span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_Appliances_ul p a span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_capacity_ul p a span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_match_ul p a span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_parts_ul p a span:nth-of-type(2), #wr_goods .wr_capacity_right .wr_rim_ul p a span:nth-of-type(2), #wr_goods .wr_match_right .wr_Appliances_ul p a span:nth-of-type(2), #wr_goods .wr_match_right .wr_capacity_ul p a span:nth-of-type(2), #wr_goods .wr_match_right .wr_match_ul p a span:nth-of-type(2), #wr_goods .wr_match_right .wr_parts_ul p a span:nth-of-type(2), #wr_goods .wr_match_right .wr_rim_ul p a span:nth-of-type(2), #wr_goods .wr_parts_right .wr_Appliances_ul p a span:nth-of-type(2), #wr_goods .wr_parts_right .wr_capacity_ul p a span:nth-of-type(2), #wr_goods .wr_parts_right .wr_match_ul p a span:nth-of-type(2), #wr_goods .wr_parts_right .wr_parts_ul p a span:nth-of-type(2), #wr_goods .wr_parts_right .wr_rim_ul p a span:nth-of-type(2), #wr_goods .wr_rim_right .wr_Appliances_ul p a span:nth-of-type(2), #wr_goods .wr_rim_right .wr_capacity_ul p a span:nth-of-type(2), #wr_goods .wr_rim_right .wr_match_ul p a span:nth-of-type(2), #wr_goods .wr_rim_right .wr_parts_ul p a span:nth-of-type(2), #wr_goods .wr_rim_right .wr_rim_ul p a span:nth-of-type(2) {
          color: #B0B0B0; }

.wr_capacity_left, .wr_match_left, .wr_parts_left, .wr_rim_left {
  float: left;
  width: 234px; }
  .wr_capacity_left img, .wr_match_left img, .wr_parts_left img, .wr_rim_left img {
    width: 234px;
    height: 300px;
    display: block; }
  .wr_capacity_left img:nth-of-type(2), .wr_match_left img:nth-of-type(2), .wr_parts_left img:nth-of-type(2), .wr_rim_left img:nth-of-type(2) {
    margin-top: 13px; }

#wr_conent {
  overflow: hidden;
  margin-top: 105px; }
  #wr_conent h2 {
    margin-left: 26px;
    float: left;
    font-size: 24px;
    color: #333;
    font-weight: 300;
    margin-top: 3px; }
  #wr_conent .wr_conent_ul {
    margin-top: 50px;
    background-color: #F5F5F5;
    overflow: hidden; }
    #wr_conent .wr_conent_ul li {
      list-style: none;
      float: left;
      width: 296px;
      height: 285px;
      margin-left: 16px;
      margin-bottom: 14px;
      text-align: center;
      background: #fff;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
      #wr_conent .wr_conent_ul li a {
        position: relative;
        display: block;
        width: 296px;
        height: 180px;
        color: #fff; }
        #wr_conent .wr_conent_ul li a img {
          width: 296px;
          height: 180px; }
        #wr_conent .wr_conent_ul li a span {
          text-align: center;
          position: absolute;
          left: 20px;
          bottom: 10px;
          width: 32px;
          height: 20px;
          line-height: 20px;
          font-size: 20px;
          border: 2px solid #fff;
          border-radius: 12px; }
        #wr_conent .wr_conent_ul li a span:hover {
          background: #FF6700;
          border: 2px solid #FF6700; }
      #wr_conent .wr_conent_ul li h3 {
        margin-top: 25px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px; }
      #wr_conent .wr_conent_ul li p {
        font-size: 14px;
        color: #B0B0B0;
        line-height: 30px;
        text-align: center; }
    #wr_conent .wr_conent_ul li:hover {
      transform: translate3d(0, -2px, 0);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

#vedio {
  display: none;
  position: absolute;
  left: 300px;
  top: 100px; }
  #vedio img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 800px;
    height: 500px; }
  #vedio h3 {
    position: absolute;
    font-size: 20px;
    background-color: #F5F5F5;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 111px;
    top: -80px;
    text-align: center; }
  #vedio span {
    cursor: pointer;
    display: block;
    width: 90px;
    height: 90px;
    background: url("../images/play-stop.png") no-repeat;
    position: absolute;
    top: 40%;
    left: 45%;
    border-radius: 50%; }
  #vedio .off {
    position: absolute;
    right: 40px;
    top: -16px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    z-index: 2;
    font-size: 20px; }
  #vedio .play {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0); }
  #vedio .stop {
    box-shadow: none;
    transform: none; }
